<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
  namespace="com.noknow.shardingjdbcdemo.repository.sharding.mapper.OrderMapper">

  <update id="updateSelective">
    update `order`
    <set>
      <if test="tag != null and tag != ''">
        tag = #{tag},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime}
      </if>
    </set>
    where id = #{id}
  </update>

  <select id="select" resultType="com.noknow.shardingjdbcdemo.repository.entity.Order">
    select *
    from `order`
    <where>
      <choose>
        <when test="id != null or (tag != null and tag != '') or createdTime != null">
          <if test="id != null">
            and id = #{id}
          </if>
          <if test="tag != null and tag != ''">
            and tag = #{tag}
          </if>
          <if test="createdTime != null">
            and created_time = #{createdTime}
          </if>
        </when>
        <otherwise>
          and 1 = 2
        </otherwise>
      </choose>
    </where>
  </select>

  <insert id="insertSelective" >
    insert into `order` (<if test="id != null">id,</if><if test="tag != null and tag != ''">tag,</if><if test="createdTime != null">created_time</if> ) values (<if test="id != null">#{id},</if><if test="tag != null and tag != ''">#{tag},</if><if test="createdTime != null">#{createdTime}</if>)
  </insert>
</mapper>